.cadastro_content {
    margin: 0 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    align-items: start;
    gap: 30px;
}

.cadastro_content__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cadastro_content__title h2 {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    color: var(--roxo);
}

.cadastro_content__title > p {
    font-family: var(--fonte-texto);
    color: var(--texto);
    font-size: var(--tamanho-texto);
    line-height: 1.8;
}

.cadastro_content__list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1441px) and (max-width: 2650px) {
    .cadastro_content {
        margin: 0 20%;
    }
}

@media (min-width: 771px) and (max-width: 1024px) {
    .cadastro_content {
        margin: 0 50px;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 431px) and (max-width: 770px) {
    .cadastro_content {
        margin: 0 70px;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 320px) and (max-width: 430px) {
    .cadastro_content {
        margin: 0 0;
        grid-template-columns: 1fr;
    }
}
