.ong_info {
    background-color: var(--roxo);
}

.ong_info__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px;
    padding: 50px;
}

@media (min-width: 1441px) and (max-width: 2650px) {
    .ong_info__content {
        margin: 0 20%;
    }
}

@media (min-width: 771px) and (max-width: 1024px) {
    .ong_info__content {
        margin: 0 50px;
        padding: 30px;
    }
}

@media (min-width: 431px) and (max-width: 770px) {
    .ong_info__content {
        margin: 0 20px;
        padding: 30px;
    }
}

@media (min-width: 320px) and (max-width: 430px) {
    .ong_info__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0;
        padding: 40px;
        gap: 20px;
    }
}
