.formulario {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--vermelho-suave);
}

.formulario fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario legend {
    display: block;
    width: 100%;
    float: left;
    font-size: var(--tamanho-texto);
    font-weight: 700;
}

.formulario legend,
.formulario label {
    font-family: var(--fonte-texto);
    color: var(--vermelho-escuro);
    padding: 0;
}

.formulario label {
    font-size: var(--tamanho-texto-pequeno);
    font-weight: 500;
}

.formulario__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto-pequeno);
    color: var(--vermelho-escuro);
    background-color: var(--branco);
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.formulario input:focus,
.formulario select:focus,
.formulario textarea:focus {
    outline: none;
    border-color: var(--vermelho);
}

.formulario textarea {
    min-height: 120px;
    resize: vertical;
}

.formulario ::placeholder {
    color: var(--vermelho-escuro);
}

.formulario button {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--vermelho);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: var(--tamanho-texto);
    cursor: pointer;
}

.formulario button:hover {
    background-color: var(--vermelho-hover);
    color: var(--branco);
    transition: all 300ms;
}

.formulario button:active {
    background-color: var(--vermelho-escuro);
    color: var(--branco);
    transition: all 300ms;
}

.formulario__sucesso {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto-pequeno);
    font-weight: 700;
    color: var(--azul);
    text-align: center;
}

.formulario__erro {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto-pequeno);
    font-weight: 700;
    color: var(--vermelho);
    text-align: center;
}

@media (min-width: 320px) and (max-width: 430px) {
    .formulario {
        padding: 35px;
    }
}
